<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio Filtrado de Datos

En este laboratorio usaremos el DataFrame creado en la lección anterior resultado de la unión de los conjuntos de datos compartidos contigo. 

**Instrucciones:**

1. Lee cuidadosamente el enunciado de cada ejercicio.

2. Implementa la solución en la celda de código proporcionada.

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [10]:
df = pd.read_csv("./df_resultante.csv", index_col=0)
df.head(1)

,show_id,type,Title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language,_merge
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Documentary,2020-10-02,90.0,7.5,English,both

#### Ejercicio 1: ¿Cuáles son todos los títulos lanzados en 2021 que son del tipo 'Movie'?

In [13]:
df.query("type == 'Movie' & release_year == 2021")["Title"]

6                        My Little Pony: A New Generation
9                                            The Starling
12                                           Je Suis Karl
13                       Confessions of an Invisible Girl
18                                              Intrusion
                              ...
1425                          Creating The Queen's Gambit
1431                                          Stuck Apart
1436    Ratones Paranoicos: The Band that Rocked Argen...
1466                         The Minimalists: Less Is Now
1468                            What Happened to Mr. Cha?
Name: Title, Length: 277, dtype: object

#### Ejercicio 2: ¿Qué títulos tienen una duración de 90 minutos? Muestra solo las columnas de título y de duración.

In [19]:
df.query('duration == "90 min"')[["Title", "duration"]]

                                Title duration
0                Dick Johnson Is Dead   90 min
94                          Show Dogs   90 min
107                  A Champion Heart   90 min
229                      The Old Ways   90 min
283              Misha and the Wolves   90 min
...                               ...      ...
8651                            Tyson   90 min
8655             Unaccompanied Minors   90 min
8670                    Vantage Point   90 min
8735  Who's That Knocking at My Door?   90 min
8776                       Yellowbird   90 min

[152 rows x 2 columns]

#### Ejercicio 3: ¿Cuáles son todos los títulos del país 'India' lanzados después de 2018?

In [28]:
df.query("country == 'India' & release_year > 2018")[["Title", "country"]]

                            Title country
4                    Kota Factory   India
39                   Chhota Bheem   India
126                       Shikara   India
190                    Thimmarusu   India
266          The Creative Indians   India
...                           ...     ...
5966                       15-Aug   India
6024                    7 (Seven)   India
6464  Chhota Bheem Kungfu Dhamaka   India
8121                  Super Bheem   India
8173                    Thackeray   India

[193 rows x 2 columns]

#### Ejercicio 4: ¿Qué títulos tienen clasificación 'TV-14' o 'R'?

In [27]:
df.query("rating == 'TV-14' | rating == 'R'")[["Title", "rating"]]

                                                Title rating
8                       The Great British Baking Show  TV-14
18                                          Intrusion  TV-14
20    Monsters Inside: The 24 Faces of Billy Milligan  TV-14
21                             Resurrection: Ertugrul  TV-14
24                                              Jeans  TV-14
...                                               ...    ...
8794                                           اشتباك  TV-14
8799                                            Zenda  TV-14
8802                                           Zodiac      R
8804                                       Zombieland      R
8806                                           Zubaan  TV-14

[2959 rows x 2 columns]

#### Ejercicio 5: ¿Cuáles son los títulos dirigidos por 'Christopher Nolan' o 'Martin Scorsese'? ¿Cuántos a dirigido cada uno de los directores?

In [48]:
df_nolan = df.query("director == 'Christopher Nolan'")["Title"]
print(len(df_nolan))

df_scosese = df.query("director == 'Martin Scorsese'")["Title"]
print(len(df_scosese))

1
12

#### Ejercicio 6: ¿Qué títulos pertenecen a los países 'United States', 'United Kingdom' o 'Canada'? Dentro de estos países, ¿cuántas películas tienen más de un lenguaje?

In [ ]:
df_countries = df.query("country == 'United States' | country == 'United Kingdom' | country == 'Canada'")[["Title", "country"]]

print(df_countries["country"].value_counts())

country
United States     2818
United Kingdom     419
Canada             181
Name: count, dtype: int64

#### Ejercicio 7: ¿Qué títulos fueron lanzados entre 2015 y 2020, inclusive?

In [53]:
df.query("release_year.between(2015, 2020, inclusive='both')")["Title"]

0                                    Dick Johnson Is Dead
16      Europe's Most Dangerous Man: Otto Skorzeny in ...
17                                        Falsa identidad
21                                 Resurrection: Ertugrul
32                                          Sex Education
                              ...
8796                                           Yunus Emre
8797                                            Zak Storm
8801                                              Zinzana
8803                                          Zombie Dumb
8806                                               Zubaan
Name: Title, Length: 5624, dtype: object

#### Ejercicio 8: ¿Cuáles son los títulos cuya puntuación en IMDb está entre 6.5 y 8.0 y que no sepamos cual es su duración?

In [ ]:
df8 = df[(df["IMDB Score"].between(6.5, 8.0, inclusive='both')) &
         df["duration"].isna()]["Title"]
df8

834                    Blue Miracle
895                          Oxygen
910                         Monster
1024         Arlo the Alligator Boy
1157                       Bad Trip
                   ...
5783                 Audrie & Daisy
5840     The Fundamentals of Caring
5849                Team Foxcatcher
5901                            Tig
5906    What Happened, Miss Simone?
Name: Title, Length: 77, dtype: object

#### Ejercicio 9: ¿Cuáles son las películas cuya duración de 90 y 150 minutos?

In [ ]:
df9 = df[(df['duration'] == '90 min') | 
         (df['duration'] == '150 min')]["Title"]
df9

0                    Dick Johnson Is Dead
94                              Show Dogs
107                      A Champion Heart
205     Kyo Kii... Main Jhuth Nahin Bolta
229                          The Old Ways
                      ...
8651                                Tyson
8655                 Unaccompanied Minors
8670                        Vantage Point
8735      Who's That Knocking at My Door?
8776                           Yellowbird
Name: Title, Length: 169, dtype: object

#### Ejercicio 10: ¿Cuáles son los títulos que contienen la palabra 'Love' en su título y que sean de tipo TV Show?

In [ ]:
df10 = df[(df['Title'].str.contains('Love')) &
          (df['type'] == 'TV Show')]["Title"]
df10

25                    Love on the Spectrum
659        Bangkok Love Stories: Innocence
731        Love (ft. Marriage and Divorce)
883                   Love, Death & Robots
1032                          Love Naggers
                       ...
7632    O-Negative, Love Can’t Be Designed
7892                    Roonpi Secret Love
8567        The Year of Happiness and Love
8575                       This Is My Love
8721                         What Is Love?
Name: Title, Length: 70, dtype: object

#### Ejercicio 11: ¿Cuáles son los títulos en los que el director tiene el apellido 'Johnson'?

In [75]:
df11 = df[df['director'].str.contains('Johnson$', na=False)][["Title", "director"]]
df11

                                       Title                         director
0                       Dick Johnson Is Dead                  Kirsten Johnson
829                         Dog Gone Trouble                    Kevin Johnson
846                                     Home                      Tim Johnson
2052                        Love, Guaranteed              Mark Steven Johnson
2083                    The Debt Collector 2                 Jesse V. Johnson
2455                              The Stolen                    Niall Johnson
2496                               Honeytrap                  Rebecca Johnson
3511                              Avengement                 Jesse V. Johnson
3717                           Triple Threat  Jesse V. Johnson, Jesse Johnson
4033                                 Juanita                    Clark Johnson
4661                      The Debt Collector                 Jesse V. Johnson
4698       To All the Boys I’ve Loved Before                    Susan Johnson
4833                        Alex Strangelove                    Craig Johnson
5282                            Carrie Pilby                    Susan Johnson
6376                                   Brick                     Rian Johnson
6802                           Freshman Year          Jude Okwudiafor Johnson
6847                             Ghost Rider              Mark Steven Johnson
7241                  Kung Fu Panda: Holiday                      Tim Johnson
7369                               Mad Money  Callie Khouri, Jesse V. Johnson
7622                             Nowhere Boy               Sam Taylor-Johnson
7912                                S.W.A.T.                    Clark Johnson
7946                              Savage Dog                 Jesse V. Johnson
8082  Star Wars: Episode VIII: The Last Jedi                     Rian Johnson

#### Ejercicio 12: ¿Tenemos algún documental ('Documentaries') de Mike Tyson?

In [81]:
df12 = df[(df['description'].str.contains('Mike tyson', na=False)) & 
          (df["type"] == "Documentaries")]["Title"]
df12

Series([], Name: Title, dtype: object)

#### Ejercicio 13: Selecciona solo las columnas 'title', 'country' y 'release_year' del dataset.

In [86]:
df13 = df[["Title", "country", "release_year"]]
df13

                      Title        country  release_year
0      Dick Johnson Is Dead  United States          2020
1             Blood & Water   South Africa          2021
2                 Ganglands            NaN          2021
3     Jailbirds New Orleans            NaN          2021
4              Kota Factory          India          2021
...                     ...            ...           ...
8802                 Zodiac  United States          2007
8803            Zombie Dumb            NaN          2018
8804             Zombieland  United States          2009
8805                   Zoom  United States          2006
8806                 Zubaan          India          2015

[8807 rows x 3 columns]

#### Ejercicio 14: Filtra las columnas que contienen la palabra 'date'.

In [85]:
df14 = df.filter(like='date')
df14

      date_added
0     2021-09-25
1     2021-09-24
2     2021-09-24
3     2021-09-24
4     2021-09-24
...          ...
8802  2019-11-20
8803  2019-07-01
8804  2019-11-01
8805  2020-01-11
8806  2019-03-02

[8807 rows x 1 columns]

#### Ejercicio 15: Usando `query()`, filtra todos los títulos del país 'France' con una duración de 80 minutos.

In [87]:

df.query("release_year >= 2015 & release_year <= 2020")[["Title"]]

                                                  Title
0                                  Dick Johnson Is Dead
16    Europe's Most Dangerous Man: Otto Skorzeny in ...
17                                      Falsa identidad
21                               Resurrection: Ertugrul
32                                        Sex Education
...                                                 ...
8796                                         Yunus Emre
8797                                          Zak Storm
8801                                            Zinzana
8803                                        Zombie Dumb
8806                                             Zubaan

[5624 rows x 1 columns]

#### Ejercicio 16: Filtra los títulos que son películas ('Movie') y fueron lanzados antes de 2010.

In [88]:
df.query("release_year < 2010 & type == 'Movie'")[["Title"]]

                     Title
7                  Sankofa
22         Avvai Shanmughi
24                   Jeans
26          Minsara Kanavu
41                    Jaws
...                    ...
8793  Yours, Mine and Ours
8799                 Zenda
8802                Zodiac
8804            Zombieland
8805                  Zoom

[1153 rows x 1 columns]

#### Ejercicio 17: Encuentra los 10 títulos con las puntuaciones más altas en IMDb.

In [ ]:
df17 = (df[df['IMDB Score'].notna()]
    .sort_values(by='IMDB Score', ascending=False)
    .head(10)["Title"])
df17

1886       David Attenborough: A Life on Our Planet
4293                        Springsteen on Broadway
5893    Winter on Fire: Ukraine's Fight for Freedom
5152                         Cuba and the Cameraman
3386                         Dancing with the Birds
3273                                          Klaus
1857          The Three Deaths of Marisela Escobedo
1171                                     Seaspiracy
2097                                 Rising Phoenix
5376                                  Chasing Coral
Name: Title, dtype: object

#### Ejercicio 18: Encuentra los 5 títulos con las puntuaciones más bajas en IMDb.

In [92]:
df18 = (df[df['IMDB Score'].notna()]
    .sort_values(by='IMDB Score', ascending=True)
    .head(5)["Title"])
df18

3623    Enter the Anime
3094            The App
2104        Dark Forces
5073     The Open House
1777        Kaali Khuhi
Name: Title, dtype: object

#### Ejercicio 19: Filtra todos los títulos que no tienen un director asignado (valores nulos en la columna 'director').

In [93]:
df19 = df[df['director'].isna()]["Title"]
df19

1                             Blood & Water
3                     Jailbirds New Orleans
4                              Kota Factory
10      Vendetta: Truth, Lies and The Mafia
14          Crime Stories: India Detectives
                       ...
8795                        Yu-Gi-Oh! Arc-V
8796                             Yunus Emre
8797                              Zak Storm
8800                     Zindagi Gulzar Hai
8803                            Zombie Dumb
Name: Title, Length: 2634, dtype: object

#### Ejercicio 20: Filtra todos los títulos que tienen información completa en las columnas 'title', 'country' y 'IMDB Score'.

In [96]:
df20 = df[(df['country'].notna())|
          (df['IMDB Score'].notna())|
          (df['Title'].notna())][["Title"]] 
df20

                      Title
0      Dick Johnson Is Dead
1             Blood & Water
2                 Ganglands
3     Jailbirds New Orleans
4              Kota Factory
...                     ...
8802                 Zodiac
8803            Zombie Dumb
8804             Zombieland
8805                   Zoom
8806                 Zubaan

[8807 rows x 1 columns]

#### Ejercicio 21: Identifica si hay títulos duplicados en la columna 'title'.

In [101]:
df21 = df[df['Title'].duplicated()]['Title']
len(df21)

0